body {
  background: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
  
  height: 100vh;
  
  box-sizing: border-box;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: 'Outfit', sans-serif;
}

.card {
  background: hsl(0, 0%, 100%);
  margin: 0 auto;
  padding: 1em;
  
  max-width: 310px;
  border-radius: 15px;
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  font-size: 16px;
  color: hsl(220, 15%, 55%);
}

.img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}